body{
    background-color: burlywood;
}
.tips_box{
    box-sizing: border-box;
    border-style: ridge;
    border-radius: 10px;
    width: 1000px;
    margin-left: 20%;
    box-shadow: lightgray;
    background-color: white;
}
 .start-button{
    text-align: center;
    font-size: xx-large;
    color:blueviolet;
    padding:20px 40px;
    border-radius: 5px;
    cursor: pointer;
}
.tips_box .tips_title{
    text-align: center;
    font-weight: lighter;
    font-size: x-large;
}  
.content_box{
    display: flex;
}
#scoreCard{
    background-color:white;
    height: 100px;
    width:400px;
    margin-top: 50px;
    margin-left: 500px;
    padding-left: 30px;
} 